{% extends "base.html" %}
{% block title %}Create a new blog post{% endblock %}
{% block content %}

<h1>Want to add a Post to... Post?</h1>

<p class="form-group">
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary">Post</button>
 </form>   
</p>



{% endblock %}