{% extends "base.html" %}

{% block content %}

<h1>Twin Peaks Post</h1>
<ul>
{% for post in object_list %}
   
   <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - 
    {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.date }} 
    <a href="{% url 'edit-post' post.pk %}">Edit</a> - <a href="{% url 'delete-post' post.pk %}">Delete</a>
    <br/>
   </li> 
    
{% endfor %}
</ul>

{% endblock %}