{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
<small>By {{ post.author }} - {{ post.date }} - <a href="{% url 'edit-post' post.pk %}">Edit</a> - 
    <a href="{% url 'delete-post' post.pk %}">Delete</a></small> 
<hr>
<br>
<p>{{ post.body }}</p>
<br>
<a href="{% url 'article-list' %}" class="btn btn-secondary">Back</a>
{% endblock %}

