{% extends "base.html" %}
{% block title %}Delete blog post{% endblock %}
{% block content %}

<h1>Delete Post</h1>
<br>
<h2>Delete: {{ post.title }}</h2>
<p class="form-group">
    <form method="POST">
    {% csrf_token %}
    <button class="btn btn-secondary">Delete</button>
 </form>   
</p>



{% endblock %}