{% extends "base.html" %}
{% block title %}Edit Blog post{% endblock %}
{% block content %}

<h1>Update Post</h1>

<p class="form-group">
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary">Update</button>
 </form>   
</p>



{% endblock %}