{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        {% for business in businesss %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ business.name }} - {{ business.owner }}</h5>
              <p class="card-text">{{ business.description }}</p>
              <a href="{% url 'business-list' %}" class="btn btn-secondary">Back</a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

<br>

{% endblock %}