{% extends "base.html" %}

{% block content %}

<h1>Twin Peaks Business</h1>
<ul>
{% for business in object_list %}
   
   <li><a href="{% url 'business-detail' businesss.pk %}">{{ business.name }}</a> - 
    <a href="{% url 'edit-business' businesss.pk %}">Edit</a> - <a href="{% url 'delete-business' businesss.pk %}">Delete</a>
    <br/>
   </li> 
    
{% endfor %}
</ul>

{% endblock %}