{% extends "base.html" %}
{% block title %} Delete business{% endblock %}
{% block content %}

<h1>Delete Post</h1>
<br>
<h2>Delete: {{ business.name }}</h2>
<p class="form-group">
    <form method="POST">
    {% csrf_token %}
    <button class="btn btn-secondary">Delete</button>
 </form>   
</p>



{% endblock %}