{% extends "base.html" %}

{% block content %}

<h1>Twin Peaks Places</h1>
<ul>
{% for place in object_list %}
   
   <li><a href="{% url 'place-detail' places.pk %}">{{ place.name }}</a> - 
    <a href="{% url 'edit-place' places.pk %}">Edit</a> - <a href="{% url 'delete-place' places.pk %}">Delete</a>
    <br/>
   </li> 
    
{% endfor %}
</ul>

{% endblock %}