{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        {% for place in places %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ place.name }}</h5>
              <p class="card-text">{{ place.description }}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>

<br>
<a href="{% url 'place-list' %}" class="btn btn-secondary">Back</a>
{% endblock %}

